.currentPos-accuracy {
  stroke: none;
  fill: #2c7cf6;
  fill-opacity: 0.2;
}

.currentPos-marker {
  background: #2c7cf6;
  border: 3.75px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 black;
}
