.infobox {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid rgba(0 0 0 / 23%);
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0 0 0 / 25%);
}

.infobox-loadingContainer {
  display: flex;
  justify-content: center;
  padding: 0.5625rem;
}

.infobox-loading {
  width: 100%;
}

.infobox-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.infobox-errorText {
  text-align: center;
}

.infobox-detailsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.infobox-details {
  display: flex;
  align-items: center;
}

.infobox-details-iconContainer {
  display: flex;
  justify-items: center;
  width: 44px;
}

.infobox-details-textContainer {
  width: calc(100% - 44px);
  word-wrap: break-word;
}

.selectedLocation-icon {
  background-color: #9b241d;
  border-color: #da5040;
}
