.directionsListBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0 0 0 / 23%);
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0 0 0 / 25%);
}

.directionsListBox > * {
  padding: 1rem;
}

.directionsListBox-noResults {
  text-align: center;
}

.itinerary {
  display: flex;
  flex-direction: column;
  row-gap: 0.375rem;
}

.itinerary-moreNext {
  border-bottom: 1px solid rgba(0 0 0 / 23%);
}

.itinerary-morePrev {
  border-top: 1px solid rgba(0 0 0 / 23%);
}

.itinerary-timesRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itinerary-timesRow-text {
  font-weight: bold;
}

.itinerary-legsRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.leg {
  display: flex;
  align-items: center;
}

.leg-divider {
  display: flex;
  justify-content: flex-end;
  width: 1rem;
}

.leg-dividerIcon {
  font-size: 0.75rem;
}

.leg-modeIcon {
  font-size: 1rem;
}

.leg-transitDescContainer {
  display: flex;
  align-items: center;
  height: 1rem;
  padding: 0 0.375rem;
  border-radius: 999px; /* Rounded rectangle. */
}

.leg-transitDesc {
  line-height: 0;
}
